@model Ghostwriter.Entities.Models.CommentViewModel

<li>
    <a href="@Url.Action("Edit", "Comments", new { id = Model.Id })" class="list-group-item">
        <p class="list-group-item-text">@Model.Body</p>
    </a>
</li>