@model Ghostwriter.Entities.Post


<a href="@Url.Action("Details", "Posts", new { id = Model.Id })" class="list-group-item">
    <h4 class="list-group-item-heading">@Model.Title</h4>
    <p class="list-group-item-text">@Model.PostBody</p>
</a>