@model Ghostwriter.Entities.Models.PostDetailViewModel

<div class="page-header">
    <h1>@Model.Title</h1>
    <p><small>@Model.Body</small></p>
    <a href="@Url.Action("Edit", "Posts", new { id = Model.Id })" class="btn btn-default navbar-btn">
        Edit
    </a>
</div>



@foreach (var comment in Model.Comments)
{
    @Html.Partial("_Comment", comment)
}