@model List<Ghostwriter.Entities.Models.PostViewModel>

@{ 
    ViewBag.Title = "Posts";
}

<br/>

<div class="list-group">
    @foreach (var post in Model)
    {
        @Html.Partial("_Post", post)
    }
</div>